* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body {
    background: linear-gradient(70deg, purple, orange);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    gap: 20px;
    box-shadow: 0px 0px 20px #00000099;
}
details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
    color: rgb(121, 121, 121);
    font-weight: bold;
    transition: 0.1s;
    user-select: none;
}
summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    cursor: pointer;
    color: #000;
    user-select: none;
}
details[open] {
    padding: .5em;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}